body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.s1 {
  position: relative;
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 2.5rem;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul a {
  text-decoration: none;
  margin: 0 1.2rem;
  padding: 0.6rem;
  color: white;
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0 0.8rem;
}

header img {
  margin: 0 1.2rem;
}

header ul li:nth-child(4) a {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.8rem 1.2rem;
  color: hsl(212, 27%, 19%);
  background: #fff;
  border-radius: 1.3rem;
  font-size: 0.7rem;
}

header ul li:nth-child(4) a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

h1 {
  font-family: Fraunces, serif;
  font-weight: 900;
  letter-spacing: 0.6rem;
  text-align: center;
  margin: 4rem;
  font-size: 3rem;
}

.arrow {
  text-align: center;
  margin: 7rem;
}

.s2 {
  display: flex;
  flex-wrap: wrap;
}

.content1,
.content2,
.content3 {
  height: 85vh;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.s2 .lcontent {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s2 .text {
  max-width: 70%;
  margin-bottom: 10rem;
}

.s2 .lcontent h2 {
  font: 900 2.5rem/1.3 "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.body1 {
  font: 600 1.5rem "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  line-height: 1.5;
}

.body2 {
  text-align: center;
  font: 600 1.3rem "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
  line-height: 1.5;
}

.s2 a {
  color: hsl(212, 27%, 19%);
  padding: 8px;
  position: relative;
  cursor: pointer;
  font-family: Fraunces, serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: none;
}

.s2 a::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 10px;
  background: hsla(51, 100%, 49%, 0.32);
  z-index: -1;
  border-radius: 7px;
  transition: all 0.3s;
}

.s2 a:hover::before {
  background: hsl(51, 100%, 49%);
}

.s2 .rcontent {
  flex: 0 0 50%;
  overflow: hidden;
  height: 100vh;
}

.s2 .rcontent img {
  width: 100%;
  height: 85vh;
  margin: 0;
}

a#l2 {
  position: relative;
}

a#l2::before {
  content: "";
  position: absolute;
  left: 0;
  background: hsla(7, 99%, 70%, 0.4);
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0.625rem;
  bottom: 0.1875rem;
  border-radius: 0.3125rem;
}

a#l2:hover::before {
  background: hsl(7, 99%, 70%);
}

.content3 .lcontent {
  background-image: url(image-graphic-design.jpg);
  background-position: center;
  position: relative;
  background-size: cover;
}

.content3 .lcontent .text {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 45%;
}

.s2 .content3 div:nth-of-type(2) {
  background: url(images/desktop/image-photography.jpg) center / cover no-repeat;
}

.s2 .content3 .lcontent h3 {
  font: 900 2rem/1.2 "Fraunces", serif;
  color: hsl(167, 40%, 24%);
  text-align: center;
}

.s3 {
  padding: 6rem;
  text-align: center;
  background-color: hsla(42, 92%, 90%, 0.192);
}

.s3 h3 {
  font-weight: 900;
  color: hsl(210, 4%, 67%);
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Fraunces", serif;
}

.testrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testcol {
  flex: 0 1 33%;
}

.testcol img {
  border-radius: 50%;
  width: 3.5rem;
  margin-bottom: 2.5rem;
}

.testcol pre {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(232, 10%, 45%);
}

.client h4 {
  font: 900 1.1rem/1.5 "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.client p {
  font: 600 0.8rem/1.2 "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
}

.images {
  display: flex;
  width: 100%;
}

.images img {
  width: 25%;
  height: 100%;
}

footer {
  padding: 3rem;
  background-color: hsl(168, 32%, 55%);
  text-align: center;
}

footer .logo {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: hsl(167, 40%, 24%);
  text-decoration: none;
  text-align: center;
}

footer nav {
  margin-right: 38px;
}

footer nav a {
  text-decoration: none;
}

footer nav ul {
  margin: 2rem 0 4rem;
}

footer ul li {
  display: inline-block;
  margin: 0.7rem;
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.35s;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

footer nav li a:hover {
  color: white;
}

footer ul {
  display: flex;
  justify-content: center;
}

.icons {
  margin-right: 40px;
}

.icons img:hover {
  filter: brightness(0) invert(1);
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
}

.attribution a {
  font-size: 0.9rem;
  color: hsl(168, 34%, 41%);
  text-decoration: none;
  transition: 0.25s;
  cursor: pointer;
}

.attribution a:hover {
  color: white;
}
